body {
    font-size: 10px;
}
.box-container {
    width: 400px;
    height: 600px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 1px gray  ;
    margin: 0 auto;
}

h1 {
    text-align: left;
    position: relative;
    right: -20px;
}
.title-fish {
    font-family: 'Felipa', cursive;
    font-size: 15px;
    text-align: left;
}

img {
    background-image: url("image/小丑鱼.jpeg");
    width: 90%;
    height: 240px;
    background-repeat: no-repeat;
    position: relative;
    left: 20px;
    margin-bottom: 10px;

}

.insid_content {
    margin-left: 10px;
}

ul {
    position: relative;
    right: 40px;
}
ul >li {
    display: inline;
    font-weight: bold;
    float: left;
}
li > p {
    display:inline;
    font-weight: lighter;
}

.last-li {
    clear: left;
}

.bottom {
    float: left;
}

.second {
    border: 1px solid silver;
    width: 90%;
    height: 45%;
    position: relative;
    margin: 0 auto;
}
